<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Caleb Wolfe">
    <meta name="description" content="The wedding website made by Caleb, for him and his fiancé, Mary. It has important wedding information and includes scheduling, dates, and other important information.">
    <link rel="stylesheet" th:href="@{/css/min/global.css}">
    <link rel="stylesheet" th:href="@{/css/min/registry.css}">
    <title>Document</title>
</head>
<body id="idx-body">
    <header th:replace="~{fragments/fragments :: siteHeader}"></header>
    <div id="registry-section">
        <section id="amazon-part">
            <h1 id="amazon-name">Amazon</h1>
            <div class="tab"></div>
            <h2 id="registry-mini-title">Wedding Registry</h2>
            <a id="registry-link" href="https://www.amazon.com/wedding/organize-registry?ref_=gr-home-wedding-viewyr" target="_blank" rel="noopener">View</a>
        </section>
        <img src="/images/svgs/amazon-icon.svg" id="amazon-logo">
    </div>
</body>
</html>
