<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Caleb Wolfe">
    <meta name="description" content="The wedding website made by Caleb, for him and his fiancé, Mary. It has important wedding information and includes scheduling, dates, and other important information.">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/schedule.css}">
    <title>Schedule</title>
</head>
<body id="idx-body">
    <header th:replace="~{fragments/fragments :: siteHeader}"></header>
    <h1 class="page-title" id="schedule-title">Wedding & Reception Schedule</h1>
    <section class="day-schedule" id="friday">
        <h2 class="day-title">Friday, August 1st</h2>
        <div>
            <h3 class="time-text">5:00pm</h3>
            <hr>
            <p class="instructions">Arrive at the <strong>Los Angeles California Temple</strong>.</p>
            <p class="instructions">For more details, see <a href="https://www.churchofjesuschrist.org/temples/details/los-angeles-california-temple?lang=eng" target="_blank" rel="noopener"><i>LA Temple Address and Related Information</i></a>.</p>
            <h3 class="time-text">5:30pm</h3>
            <hr>
            <p class="instructions">Sealing Ceremony begins.</p>
            <h3 class="time-text">6:00pm – 6:45pm</h3>
            <hr>
            <p class="instructions">Pictures with friends and family.</p>
        </div>
    </section>
    <section class="day-schedule" id="saturday">
        <h2 class="day-title">Saturday, August 2nd</h2>
        <div>
            <h3 class="time-text">4:30pm – 5:30pm <span><i>(family only)</i></span></h3>
            <hr>
            <p class="instructions">Ring Ceremony. It will be located at <i>7526 Alder Ave, Fontana, CA 92336</i>.</p>
            <h3 class="time-text">6:00pm</h3>
            <hr>
            <p class="instructions">Reception begins. (<strong>same</strong> location as ring ceremony)</p>
            <h3 class="time-text">6:00pm – 8:30pm</h3>
            <hr>
            <p class="instructions">6 - 7pm we will eat.</p>
            <p class="instructions">7 - 7:30pm activities (e.g. First Dance, etc.)</p>
            <p class="instructions">7:30 - 8:30pm (more or less) Dance and have a blast!</p>
        </div>
    </section>
</body>
</html>