/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");

:root {
  --brand-brown: #392B1B;
  --brand-blue : #8CA7CC;
  --brand-sand : #DECDB9;

  --font-title: "Whisper", cursive;
  --font-content: "Eczar", serif;
  --font-header: "Caveat", cursive;
}

body, html{
    margin: 0;
    padding: 0;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}
/* Headers */
header{
    margin: 0;
    padding-top: 1em;
    background-color: var(--brand-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

h1{
    color: white;
    font-family: var(--font-title);
    font-size: 4em;
}

#hamburger-menu{
    display: none;
}

nav{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

nav a{
    font-family: var(--font-header);
    font-size: x-large;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

nav a:hover{
    background-color: var(--brand-sand);
}

/* Classes */
.page-title{
    color: var(--brand-brown);
}

@media screen and (max-width: 767px){
    header{
        padding: 20px;
        background-color: var(--brand-blue);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: left;
        text-align: center;
    }
    #hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        margin-bottom: 20px;
        position: relative;
        z-index: 1000;
    }
    #hamburger-menu .line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }
    #hamburger-menu.open .line:nth-child(1) {
        transform: translateY(9px) rotate(45deg); /* Move down and rotate */
    }
    #hamburger-menu.open .line:nth-child(2) {
        opacity: 0;
    }
    #hamburger-menu.open .line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg); /* Move up and rotate */
    }
    nav{
        max-height: 0px;
        flex-direction: column;
        text-align: center;
        transform: translatey(-0.5em);
        transition: all 0.5s ease-in-out;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}


/* Utility Classes */
.hidden{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}