#idx-body{
    background-color: #f4eee7;
    max-width: 100vw;
}

#hero-section {
    font-family: var(--font-content);
    position: relative;
    background-image: url("/images/background_image2.webp");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to bottom, transparent, #f4eee7);
    pointer-events: none;
    z-index: 1;
}

#fast-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--brand-brown);
    width: 20vw;
    margin-left: 15vw;
    padding-top: 70px;
}

#couple-title{
    padding-top: 0;
    margin: 0;
}

#wedding-quick-info {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.quick-info-box{
    text-align: center;
}

.quick-info-box p{
    font-family: var(--font-content);
}

article {
    font-family: var(--font-content);
    border: double 5px var(--brand-brown);
    color: var(--brand-brown);
    padding: 50px 0;
    background-color: white;
    width: 70vw;
    height: fit-content;
    margin: 100px auto;
}

h2{
    color: var(--brand-brown);
    font-size: 3em;
    font-family: var(--font-title);
    text-align: center;
}

article p{
    color: var(--brand-brown);
    width: 60vw;
    margin: 0 auto;
    font-size: x-large;
    line-height: 5vh;
}

@media screen and (max-width: 767px) {
    main{
        max-width: 100vw;
    }
    #hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/background_image2.webp");
        background-position: center;
        background-repeat: no-repeat;
        height: fit-content;
    }

    #hero-section::after {
        max-width: 100vw;
        height: 60px;
        margin-top: 4em;
        background: linear-gradient(to bottom, transparent, var(--brand-brown));
    }

    #fast-details {
        color: var(--brand-sand);
        width: 70vw;
        margin: 0 auto;
        margin-bottom: 4em;
    }

    #wedding-quick-info {
        color: var(--brand-brown);
    }

    #couple-title{
        color: var(--brand-sand);
    }

    article {
        padding-top: 50px;
        background-color: white;
        width: 90vw;
        border: double 5px var(--brand-sand);
        margin: 0 auto;
        margin-bottom: 100px;
    }

    article p {
        max-width: 100vw;
        width: 80vw;
    }

    #idx-body{
        background-color: var(--brand-brown);
    }
}